.add_button {
  border-radius: 5px;
  background: var(--secondary-green);
  color: var(--background-white);
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  width: 8.5rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.add_button span {
  font-size: 1.5rem;
}
