.loader {
  width: 22px;
  height: 22px;
  border: 2px solid white;
  border-radius: 50%;
  border-right: 2px solid var(--secondary-green);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
