.addProductModal_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 1;
}
.addProductModal_card {
  border-radius: 10px;
  background: var(--background-white);
  box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 1.8rem 2.5rem;
  z-index: 2;
  position: relative;
}
.addProductModal_heading_section {
  display: flex;
  align-items: center;
}
.addProductModal_heading {
  color: var(--secondary-green);
  font-size: 1rem;
  font-weight: 550;
  padding: 0.4rem 0.1rem;
  cursor: pointer;
  align-items: center;
  flex: 1;
}

.addProductModal_form {
  margin-top: 0.5rem;
  width: 100%;
  height: auto;
  display: flex;
  gap: 3rem;
}
.addProductModal_firstSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.addProductModal_label {
  margin: 1rem 0 0.15rem 0;
  color: var(--secondary-green);
  font-size: 0.8rem;
  font-weight: 550;
}
.addProductModal_inputField {
  width: 15.5rem;
  background: transparent;
  border-radius: 0.3125rem;
  border: 1px solid var(--secondary-green);
  color: var(--primary-black);
  font-size: 0.85rem;
  font-weight: 400;
  outline: none;
  padding: 0.7rem;
}
.increasedHeight {
  height: 4rem;
}
.decreasedWidth {
  width: 5rem;
}
.addProductModal_inputField::-webkit-outer-spin-button,
.addProductModal_inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Firefox */
.addProductModal_inputField {
  -moz-appearance: textfield;
}
.addProductModal_image_container {
  margin-top: 0.3rem;

  background: #ddeae3;
  width: 15.5rem;
  border: dashed 1px var(--secondary-green);
  border-radius: 0.25rem;
  padding: 0.8rem;
  position: relative;
}

.addProductModal_file_selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.addProductModal_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.addProductModal_img {
  width: 1.5rem;
  height: 1.5rem;
}
.addProductModal_imgdesc {
  color: var(--body-grey);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
}
.addProductModal_imgdesc span {
  color: var(--secondary-green);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}
.addProductModal_imgcount {
  color: #6066ff;
  font-size: 0.7rem;
  font-weight: 400;
}

.addProductModal_imageName_container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.35rem;
  overflow: auto;
  max-height: 12rem;
}
.addProductModal_imageName_container::-webkit-scrollbar {
  width: 4px;
}
.addProductModal_imageName_container::-webkit-scrollbar-track {
  background: rgb(227, 226, 226);
}
.addProductModal_imageName_container::-webkit-scrollbar-thumb {
  background: var(--body-grey);
  border-radius: 5px;
}

.addProductModal_imageName {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  color: var(--primary-black);
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--bluish-green);
  border-radius: 0.25rem;
}
.delete_icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.addProductModal_dimension {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.addProductModal_bottom_section {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  margin-left: auto;
  justify-content: flex-end;
}
.addProductModal_cancelButton {
  border-radius: 5px;
  background: transparent;
  color: var(--body-grey);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.addProductModal_cancelButton:hover {
  font-size: 1.1rem;
}
.addProductModal_addButton {
  border-radius: 5px;
  background: var(--secondary-green);
  padding: 0.5rem 1.5rem;
  color: var(--background-white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.toast_messager {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.addCategoryModal_modal_closer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.product_images_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product_image_container {
  width: 6.25rem;
  height: 7.25rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.product_image_container img {
  width: 100%;
  height: 90%;
}
.product_image_picker {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 4.8rem;
}
.product_image_picker::-webkit-file-upload-button {
  visibility: hidden;
}
.product_image_picker::before {
  content: "Browse";
  display: inline-block;
  background: #759c90;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: var(--background-white);
  font-size: 0.83rem;
  font-weight: 400;
}

.delete_Container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
