:root {
  --primary-white: #fff;
  --background-white: #eceeee;
  --primary-black: #121329;
  --secondary-black: #232d42;
  --secondary-green: #32725e;
  --body-grey: #696a78;
  --secondary-grey: #8a92a6;
  --bluish-green: #aceeda;
}